@use 'header';
@use 'hero';
@use 'watch';
@use 'available-devices';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #040714;
    color: silver;
}

li {
    list-style: none;
}



